language: php
sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

install:
  - travis_retry composer self-update
  - travis_retry composer install
  - phpenv rehash

script:
  - ./vendor/bin/phpunit --coverage-text
